.grid-item__title {
  max-width: 560px;
  padding: 20px 20px;
  margin: auto 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 76px;
  text-align: center;
  z-index: 1;
  text-shadow: black 0 0 5px;
}

@media (max-width: 1024px) {
  .grid-item__title {
    font-size: 46px;
    line-height: 58px;
  }
}

@media (max-width: 860px) {
  .grid-item__title {
    font-size: 40px;
    line-height: 1.1;
  }
}

@media (max-width: 768px) {
  .grid-item__title {
    font-size: 44px;
    line-height: 1.1;
  }
}


@media (max-width: 500px) {
  .grid-item__title {
    font-size: 38px;
    line-height: 35px;
  }
}

@media (max-width: 425px) {
  .grid-item__title {
    font-size: 32px;
    line-height: 35px;
  }
}
