.grid-item__title {
  max-width: 560px;
  margin: auto auto 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 1;
}


@media (max-width: 600px) {
  .grid-item__title {
    font-size: 58px;
    line-height: 58px;
  }
}


@media (max-width: 425px) {
  .grid-item__title {
    margin: auto auto 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
