.partner {
  display: grid;
  max-width: 1280px;
  grid-template-columns: 1fr minmax(250px 556px);
  grid-template-rows: 48px 1fr;
  gap: 36px;
  justify-content: center;
  align-content: center;
  margin: 56px auto;
  grid-template-areas:
  "title title"
  "text logo";
}


@media (max-width: 1024px) {
  .partner {
    padding: 0 48px;
  }
}

@media (max-width: 768px) {
  .partner {
    margin: 88px auto;
    padding: 0 24px;
    grid-template-areas:
    "title"
    "text"
    "logo";
  }
}

@media (max-width: 425px) {
  .partner {
    margin: 64px auto;
    padding: 0 16px;
  }
}
