.header__links {
  margin-right: 30px;
}

.header__links:last-child {
  margin-right: 0;
}



@media (max-width: 768px) {
  .header__links {
    margin-right: 0;
    margin-bottom: 12px;
    text-align: center;
  }
}
