.intro__list {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  margin-left: 15%;
  padding-left: 20px;
  margin-bottom: 40px;
}


@media (max-width: 768px) {
  .intro__list {
    margin: 40px 10%;
  }
}



@media (max-width: 425px) {
  .intro__list {
    margin: 20px 5%;
  }
}
