.cover__subtitle {
  margin: 0 5%;
  color: #dfdfdf;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 115%;
  z-index: 1;
}


@media (max-width: 768px) {
  .cover__subtitle{
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .cover__subtitle{
    font-size: 20px;
    text-align: center;
  }
}
