.contacts__container {
  margin: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 360px) 15px 60px;
  grid-template-columns: minmax(200px, 360px) 60px;
  -ms-grid-rows: 60px 0 1fr 0 1fr;
  grid-template-rows: 60px 1fr 1fr;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
     -moz-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 0 15px;
  }.contacts__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  }.contacts__container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  }.contacts__container > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  }.contacts__container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  }.contacts__container > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  }.contacts__container > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  }


  @media (max-width: 598px) {
    .contacts__container {
      max-width: 282px;
      margin: 14px auto;
      -ms-grid-columns: 200px 0 40px;
      grid-template-columns: 200px 40px;
      -ms-grid-rows: 50px 0 40px 0 1fr;
      grid-template-rows: 50px 40px 1fr;
      gap: 0;
    }
    .contacts__container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    }
    .contacts__container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    }
    .contacts__container > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    }
    .contacts__container > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    }
    .contacts__container > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    }
    .contacts__container > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    }
  }
