.contacts__container {
  margin: 10px;
    display: grid;
    grid-template-columns: minmax(200px, 360px) 60px;
    grid-template-rows: 60px 1fr;
    align-items: baseline;
    gap: 0 15px;
  }

  @media (max-width: 720px) {
    .contacts__container {
      margin: 14px auto 36px;
      justify-content: center;
    }
  }



  @media (max-width: 598px) {
    .contacts__container {
      max-width: 282px;
      margin: 14px auto 28px;
      grid-template-columns: 201px 18px;
      grid-template-rows: minmax(38px, 1fr) 18px;
      gap: 0;
    }
  }
