.contacts__container {
  margin: 14px;
  display: grid;
  grid-template-columns: minmax(200px, 360px) 60px;
  grid-template-rows: 60px 1fr;
  align-items: baseline;
  gap: 0 15px;
  }


  @media (max-width: 598px) {
    .contacts__container {
      max-width: 282px;
      margin: 14px auto;
      grid-template-columns: 200px 40px;
      grid-template-rows: 50px 1fr;
      gap: 0;
    }
  }
