.header__logo {
  background-image: url(../../../img/logo_blue.png);
  max-width: 290px;
  min-height: 28px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__logo:hover {
  opacity: 70%;
  transition: opacity .3s linear;
}


@media (max-width: 425px) {
  .header__logo {
    max-width: 142px;
  }
}
