.partner__text {
  max-width: 400px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 1.5;
  text-align: right;
  margin: 0 auto;
  grid-area: text;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .partner__text {
    padding: 0 10px;
    max-width: 500px;
    text-align: justify;
  }
}
