.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 48px auto 56px;
  padding: 0 48px;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 425px) {
  .header {
    padding: 0 16px;
    margin-top: 16px;
  }
}


