.achieve__description {
  margin: 0 10px;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.35;
  text-align: justify;
}

@media (max-width: 500px) {
  .achieve__description {
    font-size: 20px;
  }
}
