.back__title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  padding: 35px 20px 35px 50px;
  margin: 0;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  text-shadow: black 0 0 8px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


@media (max-width: 425px) {
  .back__title {
    font-size: 30px;
    padding: 20px;
    text-align: center;
  }
}
