.header__link {
  color: #000000;
  text-decoration: none;
}

.header__link:hover {
  opacity: 60%;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.header__link:active {
  opacity: 60%;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
