.logo {
  background-image: url(../../img/logo_blue.png);

  background-repeat: no-repeat;
  background-size: contain;
}

.logo:hover {
  opacity: 70%;
  transition: opacity .3s linear;
}


@media (max-width: 425px) {
  .logo {
    max-width: 142px;
  }
}
