.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.5;
  margin: 40px 15% 15px;
  align-self: center;
}

@media (max-width: 768px) {
  .intro__text {
    margin: 40px 10% 15px;
  }
}

@media (max-width: 425px) {
  .intro__text {
    font-size: 18px;
    line-height: 1.35;
    margin: 40px 5% 15px;
  }
}
