.intro__button {
  max-width: 450px;
  min-height: 60px;
  border-radius: 30px;
  border: 1px solid #000;
  background-color: rgb(231, 232, 241);
  padding: 0 120px;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.intro__button:hover {
  background-color: rgb(122, 122, 122, .6);
  transition: background-color .3s linear;
}
