.achieve {
  margin: 56px auto;
  padding: 0 auto;
  max-width: 660px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  -ms-grid-rows: 48px 20px 48px;
  grid-template-rows: 48px 48px;
  gap: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  padding: 0 20px;
}


@media (max-width: 768px) {
  .achieve {
    margin: 46px auto;
  }
}


@media (max-width: 425px) {
  .achieve {
    margin: 46px 20px;
    padding: 0;
  }
}
