.table-price {
  max-width: 1280px;
  margin: 56px auto;
}


@media (max-width: 768px) {
  .table-price {
    padding: 0 24px;
  }
}

@media (max-width: 425px) {
  .table-price {
    margin: 46px auto;
    padding: 0 16px;
    overflow-x: auto;
  }
}

