.table-price__thead {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 500px) {
  .table-price__thead {
    font-size: 18px;
  }
}
