/*vendor*/
@import url(../vendor/normalize.css);

/*fonts*/
@import url(../vendor/fonts/roboto.css);

/*page*/
@import url(../blocks/page/page.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__links-list/header__links-list.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);

/*cover*/
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__background/_page/cover__background_page_main.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__button/cover__button.css);
@import url(../blocks/cover/__link/cover__link.css);

@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
