.achieve__item {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.achieve__item:nth-child(even) {
  padding-left: 34%;
}


@media (max-width: 656px) {
  .achieve__item:nth-child(even) {
    padding-left: 0;
  }
}
