.cover__title {
  margin: 10% 5% 25px;
  color: #eeeeee;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 115%;
  z-index: 1;
}

@media (max-width: 768px) {
  .cover__title{
    font-size: 44px;
  }
}

@media (max-width: 500px) {
  .cover__title{
    font-size: 30px;
    text-align: center;
  }
}
