.table-price__tbody-content {
  padding: 10px 30px;
  border-bottom: 1px solid #cccccc;
}


@media (max-width: 500px) {
  .table-price__tbody-content {
    letter-spacing: normal;
    padding: 10px 10px;
    text-align: center;
  }
}
