.partner__logo {
  border: none;
  max-width: 556px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  grid-area: logo;
}

.partner__logo:hover {
  opacity: 90%;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
