.back__text {
  max-width: 800px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.5;
  text-align: left;
  padding: 0 20px 35px 50px;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  text-shadow: black 0 0 8px;
}



@media (max-width: 425px) {
  .back__text {
    font-size: 20px;
    padding: 30px;
    text-align: center;
  }
}
