.contacts__item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}



@media (max-width: 598px) {
  .contacts__item {
  font-size: 14px;
  line-height: 17px;

  grid-column-start: 1;
  grid-column-end: 2;
  }
}


