.intro__img {
  background-image: url(../../../img/GT-AKPP.png);
  background-repeat: no-repeat;
  width: 188px;
  height: 188px;
  position: absolute;
  bottom: 20px;
  right: 40px;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}
