.intro__title {
  font-style: normal;
  font-weight: 00;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  text-align: center;
}


@media (max-width: 680px) {
  .intro__title {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
