.intro__title {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 58px;
  margin: 0 auto 40px;
  text-align: center;
}

@media (max-width: 680px) {
  .intro__title {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (max-width: 460px) {
  .intro__title {
    font-size: 32px;
    line-height: 48px;
  }
}


@media (max-width: 425px) {
  .intro__title {
    font-size: 30px;
    line-height: 35px;
    padding: 0 10px;
  }
}

@media (max-width: 370px) {
  .intro__title {
    font-size: 26px;
    line-height: 35px;
    padding: 0;
  }
}

